@{
    Layout = "~/Pages/_Layout.cshtml";
    string username = "guest";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/Basic.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="container">
        <h5 style="margin-top:15px">Hello, @username ☆</h5>
    </div>

    <div class="container">
        <h5>where u want go to?</h5>
        <div style="margin-top:15px">
            <button type="button" id="ToUser" class="btn btn-primary">Users ></button>
            <button type="button" id="ToAward" class="btn btn-primary">Awards ></button>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/pages/changePage.js"></script>
</body>
</html>
