@using WebEntity;
@{
    Layout = "~/Pages/_Layout.cshtml";

    var BLL = new WebBLL.Autentification();

    bool IsFailed = false;
    string Username = Request["newName"];
    string Password = Request["newPassword"];
    string Role = Request["RoleValue"];
    string Error = "";

    if (IsPost)
    {
        IsFailed = BLL.CheckPassword(Username, Password);
        if (!IsFailed)
        {
            var NewRole = WebUsers.Roles.Guest;
            if (Role == "on")
            {
                NewRole = WebUsers.Roles.Admin;
            }
            else
            {
                NewRole = WebUsers.Roles.User;
            }
            BLL.AddUser(Username, Password, NewRole);
            EpamTask10.Models.WebData.SelectUser(Username, Password);
            FormsAuthentication.SetAuthCookie(Username, createPersistentCookie: true);
            Response.Redirect("~/Pages/Index.cshtml");
        }
        else
        {
            Error = "Already Exist";
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/Basic.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="container">
        <form method="post">
            <div>
                <div>
                    <label class="col-form-label">Username:</label>
                    <input class="form-control" type="text" name="newName" value="" />
                </div>

                <div>
                    <label class="col-form-label">Password:</label>
                    <input class="form-control" type="password" name="newPassword" value="" />
                </div>

                <div class="custom-control custom-switch"  style="margin-top:15px">
                    <input type="checkbox" class="custom-control-input UserCheckbox" id="Role" name="RoleValue">
                    <label class="custom-control-label" for="Role"> Admin </label>

                    @if (IsFailed)
                    {
                        <p class="text-danger">ERROR: @Error</p>
                    }
                </div>
                <div style="margin-top:15px">
                    <button class="btn btn-success">Sign up > </button>
                </div>
            </div>
</form>

    </div>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/pages/changePage.js"></script>
</body>
</html>
