@{
    Layout = "~/Pages/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body style="background-color:#222; color:#fff">
    <div class="container">

        <div>
            <h2>Awards</h2>
            <button type="button" id="ToMain" class="btn btn-outline-secondary">< Back</button>
        </div>

        <div class="btn-group-vertical" style="margin-top:15px">
            <button type="button" id="ToShowAward" class="btn btn-primary">Show ></button>
            <button type="button" id="ToCreateAward" class="btn btn-primary">Create ></button>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/pages/changePage.js"></script>
</body>
</html>
