body {
    font-family: Tahoma;
    background-color: #1e1e1e;
    color: lightgray;
}
#LabelResult {
    background-color: #3e3e42;
    color: white;
    width: 500px;
    height: 30px;
    margin: 0;
    border-style: none;
    padding-left: 10px;
    padding-top: 5px;
}
#InputData {
    background-color: #3e3e42;
    color: white;
    width: 500px;
    height: 30px;
    margin: 0;
    padding-left: 10px;
}
h2 {
    margin: 50px 0;
    width: 500px;
    font-size: 15px;
}